body{
    background-color: rgb(227, 49, 22);
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    display: flex;
    background-color: aqua;
    flex-direction: column;
    border: 3px solid purple;
    width: 100%;
}
nav{
    justify-content: right;
    align-items: center;
    display: flex;
    
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}
.flex-item{
    flex-direction: column;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-item-left {
    flex: 50%; 
}
h1{
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(88, 14, 225);
}
h2{
    color: rgba(0, 183, 255, 0.898);
    font-style: italic;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
@media (max-width: 450px){
    .flex-container{
        flex-direction: column;
    }
}
img{
    object-fit: fill;
    height: 75px;
    width: 100px;
    padding-bottom: 5px;
}
footer{
    display: flex;
    height: 25px;
    font-size: 10px;
    
    padding-top: 25px;
}
#cta{
    color: rgb(255, 234, 0);
}
