html{
    background-color: rgb(83, 221, 3);
    height: 100%;
}
body{
    background-color: rgb(83, 221, 3);
    min-height: 90vh;
    min-width:  50px;
}
header{
    display: flex;
    background-color: aqua;
    border: 2px solid purple;
    width: 100%;
    height: 90px;
    justify-content: flex-start;
    align-items: flex-start;
}
nav{
    justify-self: flex-end;
    align-self: flex-end;
    align-items: flex-end;
    display: flex;
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}
.flex-item{
    flex-direction: column;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-item-left {
    flex: 75%; 
}
.flex-item-right {
    flex: 25%; 
}
main{
    height:100%;
    width: 100%;
}
h1{
    padding-left: 5px;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(88, 14, 225);
}
h2{
    color: rgb(75, 2, 246);
    font-style: italic;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

footer{
    display: flex;
    height: 25px;
    font-size: 10px;
    padding-top: 25px;
}
#cta{
    width: 80px;
    color: rgb(113, 0, 91);
    border: 1px solid rgb(113, 0, 91);
    border-style: dotted;
    border-radius: 3px;
}
.card {
    height: 25vh;
    width: 30vw;
    background-color: aqua;
    border: 1px solid purple;
}
.card-top{
    object-fit: fill;
    height: 50%;
    width: 100%;
}
.card-img{
    object-fit: fill;
    height: 100%;
    width: 100%;
}
.flex-box{
    column-count: 3;
    column-fill: balance;
    padding-top: 5px;
    row-gap: 5px;
}
.indexImg{
    object-fit: contain;
    width: 75px;
}
#company{
    font-style: italic;
}
.grid-item-a {
    grid-area: header;
  }
  .grid-item-b {
    grid-area: main;
  }
  .grid-item-c {
    grid-area: sidebar;
  }
  .grid-item-d {
    grid-area: footer;
  }
  .flex-item-end{
    display: flex;

  }
  .flex-item-start{
    flex: content;
    align-content: end;
    justify-content: end;
    justify-self: flex-end;
    align-self: flex-end;
    padding: 2px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px auto auto;
    grid-template-areas: 
      "header header header header"
      "main main main sidebar"
      "footer footer footer footer";
  }
  .new-arrivals-div{
    height: 100px;
    width: 100px;

  }
  .new-arrivals{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
#cta:hover{
    width: 125px;
    font-size: 25px;
    
}
.flex-container-row{
    display: flex;
    flex-direction: row;
}
.flex-container-column{
    display: flex;
    flex-direction: column;
}
@media (max-width: 450px){
    .flex-container-row{
        flex-direction: column;
      }
      .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90px auto auto auto;
        grid-template-areas: 
          "header"
          "sidebar"
          "main"
          "footer";
      }
      .grid-item-c{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
      }
    
}
h3{
    padding: 1px;
    margin: 0px;
}